* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

html {
    overflow-x: hidden;
}

#wrapper {
    display: flex;
    flex-direction: column;
}

#headblock {
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 100%;
    width: 100%;
}

#headblock img {
    justify-content: center;
    width: 100%;
    margin: auto;
    filter: blur(5px);
    animation: zoomin 1.3s;
}

@media screen and (min-width: 600px) {
    #headblock img#bigpic {
        display: block;
    }

    #headblock img#littlepic {
        display: none;
    }
}

@media screen and (max-width: 600px) {
    #headblock img#bigpic {
        display: none;
    }

    #headblock img#littlepic {
        display: block;
    }

    #headblock span#line {
        transform: translateY(-2200%);
    }

    #headblock h1 {
        transform: translateY(-100%);
        text-align: center;
    }
}

#headblock h1 {
    font-size: 6rem;
    animation: fadedown 1.3s;
    transform: translateY(-576px);
}

@media screen and (max-width: 500px) {
    #headblock h1 {
        font-size: 20vw;
    }
}

#headblock span#line {
    background-color: #fbb040;
    width: 400px;
    height: 12px;
    transform: translateY(-540px);
}

@media screen and (max-width: 775px) {
    #headblock span#line {
        transform: translateY(-2300%);
    }

    #headblock h1 {
        transform: translateY(-100%);
        text-align: center;
    }
}

#headblock span#line.noclick {
    animation: fadeinright 1s;
}

#threepoints {
    display: flex;
    width: 100%;
    justify-content: center;
    padding: 0px 30px;
    margin-bottom: 150px;
    overflow-x: visible;
}

#point {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px 70px;
    width: 33%;
}

@media screen and (max-width: 700px) {
    #threepoints {
        flex-direction: column;
    }
    #point {
        width: 100%;
        padding-bottom: 50px;
    }
}

#point img.pointimg {
    max-width: 170px;
    width: 300%;
}

#point p.pointheading {
    font-size: 36pt;
}

#point p.pointbody {
    text-align: justify;
    text-justify: inter-word;
}

#company {
    display: flex;
    background-color: #fbb040;
    padding: 50px;
}

@media screen and (max-width: 1200px) {
    #company {
        flex-direction: column;
        align-items: center;
    }
}

@media screen and (max-width: 600px) {
    #company {
        padding: 0;
        padding-top: 15px;
    }
}

#company div#text {
    padding: 30px 50px;
    margin-left: 30px;
}

#company div#text h1 {
    font-size: 48pt;
}

#company div#text p {
    text-align: justify;
    text-justify: inter-word;
    font-size: 18pt;
}

#ingredients {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 100%;
    align-items: center;
    margin: 50px 0px;
}

#ingredients h1 {
    font-size: 36pt;
    margin-bottom: 10px;
}

@media screen and (max-width: 685px) {
    #ingredients h1 {
        text-align: center;
    }
}

#ingredients ul {
    list-style: none;
}

#ingredients ul li::before {
    content: "\2022";
    color: #fbb040;
    font-weight: bold;
    display: inline-block;
    width: 1em;
    margin-left: -1em;
}

#ingredients ul li {
    font-size: 24pt;
    margin-bottom: 5px;
}

#promo {
    display: flex;
    background-color: #fbb040;
    padding: 50px;
    align-items: center;
    justify-content: center;
}

#promo h1#promoheading {
    width: 600px;
    margin-right: 30px;
}

#promo div#bar {
    width: 35px;
    height: 100px;
    background-color: white;
}

#promo p#promobody {
    margin-left: 50px;
    text-align: justify;
    text-justify: inter-word;
}

@media screen and (max-width: 800px) {
    #promo {
        flex-direction: column;
        padding-right: 100px;
    }

    #promo div#bar {
        width: 0;
        height: 0;
    }

    #promo * {
        margin: 0;
        padding: 0;
    }

    #promo h1#promoheading {
        width: auto;
        text-align: center;
        margin-left: 70px;
    }
}

#robots {
    display: flex;
    flex-direction: row-reverse;
    padding-bottom: 50px;
    padding-top: 50px;
    align-items: center;
}

#robots h1#robotstitle {
    margin: 5px 20px;
}

#robots div#bar {
    width: 24px;
    height: 100px;
    background-color: #fbb040;
}

#robots p#robotsbody {
    margin: 0px 50px;
    font-size: 14pt;
    text-align: justify;
    text-justify: inter-word;
}

@media screen and (max-width: 869px) {
    #robots {
        flex-direction: column;
    }

    #robots div#bar {
        width: 0;
        height: 0;
    }
}

#footer {
    background-color: #fbb040;
    padding: 30px 15px;
}

#deal {
    display: flex;
    position: sticky;
    top: 0;
    z-index: 1;
    background-color: #fbb040;
}

#deal #dismissbutton {
    cursor: pointer;
}

#headblock #line {
    cursor: pointer;
}

.barclicked {
    animation: colorshift 1s infinite;
}

@keyframes colorshift {
    0% {background-color: rgb(250, 0, 250);}
    25% {background-color: rgb(149, 1, 255);}
    37.5% {background-color: rgb(0, 0, 255);}
    50% {background-color: rgb(0, 255, 0);}
    62.5% {background-color: rgb(255, 255, 0);}
    75% {background-color: rgb(255, 166, 0);}
    87.5% {background-color: rgb(255, 0, 0);}
    100% {background-color: rgb(250, 0, 250);}
}

@keyframes fadedown {
    0% {transform: translateY(-500%);
        opacity: 25%;}
    100% {transform: translateY(-400%);
        opacity: 100%;}
}

@media screen and (max-width: 775px) {
    @keyframes fadedown {
        0% {transform: translateY(-200%);
            opacity: 25%;}
        100% {transform: translateY(-100%);
            opacity: 100%;}
    }
}

@keyframes zoomin {
    0% {transform: scale(150%);}
    100% {transform: scale(100%);
          filter: blur(5px);}
}

@keyframes fadeinright {
    0% {transform: translateX(-100%) translateY(-2300%);
        opacity: 0%;}
    100% {transform: translateX(0) translateY(-2300%);
          opacity: 100%;}
}
